/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --pink: #e56997;
  --purple: #7049af;
  --yellow: #fbc740;
  --blue: #66d2d6;
  --white: #f1fffd;
  --black: #202222;
  --grey: #737e7c; 

}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #bbb;
}

#app {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-weight: 700;
  font-size: larger;
}

.series {
  font-weight: 300;
  font-size: small;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  background-color: var(--blue);
  border-bottom: .5rem solid var(--pink);
}

.app-title {
  font-family: 'Playfair Display', serif;
  color: var(--white);
  font-size: 4rem;
  margin: .25rem;
}

#add-book-btn {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pink);
  color: var(--white);
  margin: 1rem;
  border-radius: 2rem;
  border:  3px solid #d15f89;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#checkout-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background-color: var(--yellow);
}

#current-read-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


#storage-area {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;

}

#library-area {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: var(--white);
}

.book-card {
  background-color: var(--purple);
  color: var(--white);
  margin: 1rem;
  padding: 1rem;
  height: 7rem;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: .25rem;
  border: .125rem solid #b18dbe;
}


.completed {
  width: 7rem;
  height: 15rem;
}

.current-read {
  min-width: 20rem;
  max-width: 25rem;
}

.shelved {
  transform-origin: left;
  transform: translate(2.5rem, -1.5rem) rotate(90deg);
  height: auto;
  width: 15rem;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  opacity: .4;
  text-align: center;
}


#completed-area {
  width: 60%;
  height: 100%;
  background-color: var(--grey);
}

#shelf-area {
  display: flex;
  align-content:flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: var(--blue);
  color: var(--white);
  border-top: .5rem solid var(--pink);
}

.modal {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}
