/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --pink: #e56997;
  --purple: #7049af;
  --yellow: #fbc740;
  --blue: #66d2d6;
  --white: #f1fffd;
  --black: #202222;
  --grey: #737e7c; 

}

#app {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-bottom: .5rem solid var(--pink);
}

#checkout-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1rem; 
  background-color: var(--yellow);
}

#current-read-area {
  width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#library-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

#stack-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  min-height: 10rem;
  width: 95%;
  height: 100%;
}

#completed-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
}

#shelf-area {
  display: flex;
  align-items:flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  min-height: 10rem;
  width: 100%;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  background-color: var(--blue);
  color: var(--white);
  border-top: .5rem solid var(--pink);
  margin-top: 1rem;
  width: 100%;
}

#add-book-btn {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pink);
  color: var(--white);
  margin: 1rem;
  border-radius: 2rem;
  border:  3px solid #d15f89;
  min-width: 5rem;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}



.title {
  font-weight: 700;
  font-size: larger;
}

.series {
  font-weight: 300;
  font-size: small;
}



.app-title {
  font-family: 'Playfair Display', serif;
  color: var(--white);
  font-size: 2rem;
  padding: .15rem;
  text-align: center;
}






.book-card {
  background-color: var(--purple);
  color: var(--white);
  margin-top: 1rem;
  padding: 1rem;
  height: 7rem;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: .25rem;
  border: .125rem solid #b18dbe;
}


.completed {
  width: 7rem;
  min-height: 25rem;
}

/* .current-read {
  min-width: 20rem;
  max-width: 25rem;
} */

.shelved {
  transform-origin: left;
  transform: translate(2.5rem, -1.5rem) rotate(90deg);
  height: auto;
  width: 15rem;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  opacity: .4;
  text-align: center;
}







.modal {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid var(--pink);
  border-radius: 4px;
}

input {
  margin: .25rem;
  border: 2px solid var(--yellow);
  border-radius: 4px;
}

.modal-btn {
  width: 100%;
  margin-top: 1rem;
  border: 2px solid var(--purple);
}

.radio-toolbar {
  margin-top: .5rem;
}

.radio-toolbar-edit {
  margin-top: .5rem;
}

.exit-btn {
  margin-bottom: 1rem;
  border: 2px solid var(--purple);
  color: red;
}


